html {
  background-color: #000;
  color: #fff;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
}

blockquote p {
  font-family: sans-serif;
  font-size: 4em;
  padding: 15px 30px;
  border-radius: 5px;
  margin-top: 0;
  margin-bottom: 10px;
}

/* Add quotation marks before and after quote */
blockquote p::before {
  content: "\201C";
}
blockquote p::after {
  content: "\201D";
}

footer {
  font-size: 1.2em;
  text-align: right;
  font-size: 2em;
  padding-right: 2em;
}

div.character {
  display: inline;
}
